attrs==23.1.0
bleach==6.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
etl-pipeline-runner==1.1.0
greenlet==3.0.1
idna==3.4
iniconfig==2.0.0
kaggle==1.5.16
numpy==1.24.2
opendatasets==0.1.22
packaging==23.2
pandas==2.1.3
pluggy==1.3.0
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.23
text-unidecode==1.3
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
webencodings==0.5.1
