# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# ca-certificates==2024.3.11
colorama==0.4.6
kaggle==1.6.14
numpy==1.24.4
pandas==2.0.3
pip==24.0
setuptools==69.5.1
tzdata==2024.1
pytest==8.2.2