name: CI Test

on:
  push:
    branches:
      - main
    paths:
      - project/**
    
permissions:
  contents: read
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # Install Python
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
        
    - name: Install dependencies
      run: |
        cd project
        python -m pip install pandas==1.3.5 requests==2.32.3
      
    # Run tests.sh
    - name: Project Test
      run: |
        cd project  
        ./tests.sh
