name: Run tests

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install sqlalchemy pandas numpy

    - name: Run tests
      run: |
        echo "Pipeline Execution"
        # Executing the pipeline
        #python ./project/data/pipeline.py

        # Validate the output file(s)
        #if [ -f "./project/data/data.sqlite" ]; then
        #  echo "The file exists"
        #else
        #  echo "The file does not exist"
        #fi

        echo "=== Running Tests ==="
        #python ./project/data/tests.py

        echo "Tests are running successfully"